/* # Setup devices width */
/* # Variables for mobile first approach and strict ranges */
@font-face {
  font-family: 'LigatureSymbols';
  src: url('LigatureSymbols-2.05.eot');
  src: url('LigatureSymbols-2.05.eot?#iefix') format('embedded-opentype'),
       url('LigatureSymbols-2.05.woff') format('woff'),
       url('LigatureSymbols-2.05.ttf') format('truetype'),
       url('LigatureSymbols-2.05.svg#LigatureSymbols') format('svg');
  src: url('LigatureSymbols-2.05.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.logo{

}
@media only screen and (min-width: 768px) {
  .logo{
    margin-left:15px;
  }
}
#main__place{
  margin-left:20px;
}
#info{
  display: none;
  white-space: pre-line;
  max-height: 95%;
  overflow: auto;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
 padding-left: 10px;
 padding-right: 10px;
  background: #fff;
  border: #1c5a8a solid 2px !important;
}
@media only screen and (min-width: 768px) {
  #info{
    display: none;
    white-space: pre-line;
    width: 60%;
    max-height: 95%;
    overflow: auto;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #1c5a8a solid 2px !important;
    background: #fff;
}
  }

  .info__close{
    
    text-align: right;
   }
   #info__logo{
     text-align: center;
     position: relative;
     left: 50%;
     transform: translate(-50%);
     margin-top:5px; 
   }
   body {background: #fafafa}
   
   .info__shift{
     color: #f8faf1;
     text-align: center;
     font-size: 18px;
     position: relative;
     background: black;
     width: 80%;
     height: 20%;
     left: 50%;
     transform: translate(-50%);
     margin-top: 5px;
   }
   @media only screen and (min-width: 768px) {
     .info__shift{
       color: #f8faf1;
     text-align: center;
     font-size: 18px;
     position: relative;
     background: black;
     width: 50%;
     height: 20%;
     left: 50%;
     transform: translate(-50%);
     margin-top: 5px;
     }
   }
   .info__block{
     margin-top: 5px;
     width: 100%;
     height: 80%;
     position: relative;
   }
   .info__link{
     position: relative;
     top: 25%;
   } 

h3{
  font-size: 14px !important;
}
.section_light{
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
#regist{
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  position: fixed;
  width: 85%;
  height: 250px;
  background : #f7f8f1;
  z-index: 4; 
border: rgb(50, 96, 160) solid 2px;
  display: none;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  #regist{
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    position: fixed;
    width: 50%;
    height: 250px;
    background : #f7f8f1;
    z-index: 3; 
  border: rgb(50, 96, 160) solid 2px;
    display: none;
    border-radius: 10px;

  }
}
#regist__close{
 margin:10px 10px 0 0 ;
  
 text-align: right;
}
#register__logo{
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top:10px; 
}
body {background: #fafafa}
select{
  width: 80% !important;

}
.register__shift{
  color: #f8faf1;
  text-align: center;
  font-size: 18px;
  position: relative;
  background: black;
  width: 80%;
  height: 20%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .register__shift{
    color: #f8faf1;
  text-align: center;
  font-size: 18px;
  position: relative;
  background: black;
  width: 50%;
  height: 20%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 10px;
  }
}
.register__block{
  margin-top: 40px;
  width: 100%;
  height: 80%;
  position: relative;
}
.register__link{
  position: relative;
  top: 25%;
  
  
}
.blog_post {
  clear: both;
  padding: 15px 0;
  overflow: auto;
  margin-bottom: 20px;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #999;
  border-image: none;
  border-style: dotted;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 22px 0 21px;
}

img {
  vertical-align: middle;
}
html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
.change-color {
  color: #f03f3f;
}

.header {
  width: 100%;
  position: static;
}
.top {
  background: white;
  height: 130px;
  display: grid;
  grid-template-columns: 1fr 2fr
}
.logo{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* justify-content: space-around; */
  /* background-image: url('../img/8mFsgE8UfB0.jpg');
  background-size: contain;
  background-repeat: no-repeat; */
}
.autorization{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}
.autorization__button{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
padding: 5px;
height: 40px;
border: #1c5a8a solid 3px;
color:#1c5a8a;
box-shadow: 0 0 1.5px#5493c2;
font-weight: 550;
border-radius: 4px;
font-size: 12px;
margin-right: 20px;
}
.autorization__info{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
padding: 5px;
height: 40px;
font-size: 12px;
font-weight: 550;
color: #545658;
border: #545658 solid 3px;
border-radius: 4px;
margin-right: 20px;
box-shadow: 0 0 1.5px#6a6c6e;
}
@media only screen and (min-width: 768px) {
  .autorization__button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  padding: 10px;
  height: 40px;
  border: #1c5a8a solid 3px;
  color:#1c5a8a;
  box-shadow: 0 0 1.5px#5493c2;
  font-weight: 550;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 20px;
}
}
@media only screen and (min-width: 768px) {
  .autorization__info{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
padding: 10px;
height: 40px;
font-size: 15px;
font-weight: 550;
color: #545658;
border: #545658 solid 3px;
border-radius: 4px;
margin-right: 20px;
box-shadow: 0 0 1.5px#6a6c6e;
}
}

.bottom {
  background-color: #4f585f;
  height: 60px;
}
@media only screen and (min-width: 768px) {
  .bottom {
    background-color: #4f585f;
    height: 35px;
  }
}
@media only screen and (min-width: 992px) {
  .bottom {
    background-color: #4f585f;
    height: 35px;
  }
}

  .bottom__menu {
    display: none;
  }

@media only screen and (min-width: 768px) {
  .bottom__menu {
    background-color: #4f585f;
    height: 35px;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 922px) {
  .bottom__menu {

    background-color: #4f585f;
    height: 35px;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
}

.bottom__link :hover {
  background: black;
}
.bottom__link {
  display: none;
}
@media only screen and (min-width: 768px) {
  .bottom__link {
    color:white;
    font-size: 12px;
        height: inherit;
        display:flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
       
  }
}
@media only screen and (min-width: 992px) {
  .bottom__link{
    color:white;
font-size: 14px;
    height: inherit;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
   
  }
}
.auto-mobile{
  
  display: block;
width: 100%;
 
  height: inherit;
}
@media only screen and (min-width: 768px) {
  .auto-mobile{
 
  display: none;
  }
}
#auto-mobile__wrap{
position: relative;
top: 50%;
transform: translate(0,-50%);
float: right;
margin-right :40px;
 
  width: 30%;
  height: 40px;
  background: #ced5da;
 border-radius: 15px; 
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.auto-mobile__text{
  color: rgb(41, 40, 39);
  position: relative;
  top:50%;
  text-align: center;
  transform: translate(0, -50%);
}
.present-location {
 height: 25px;
  margin-left: 5px;
  margin-top: 13px;
}
@media only screen and (min-width: 768px) {
  .present-location {
    height: 20px;
    margin-left: 35px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .present-location {
    height: 20px;
    margin-left: 35px;
    margin-top: 10px;
  }
}
.present-location__list {
  padding: 0;
  margin: 0;
}
.present-location__item {
  float: left;
  padding-left: 5px;
  list-style-type: none;
}
.present-location__link {
  margin: 0;
  font-size: 12px;
}
.present-location__link_path {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: 'PT sans', sans-serif;
}
.present-location__link_end {
  color: red;
  font-size: 12px;
  font-family: 'PT sans', sans-serif;
}
.post{
  width:80%;
  margin:0 auto;
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-between;
}
.post__item{
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;
}
.post__item a{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;
}
.featured_post img {margin: 12px 0}
.featured_post h3 {margin:10px 0 0; color: #000}
.four{
  width: 33.33333%;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}
.columns{    float: left;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}
.post_meta{
  color: #999;
font-size: 14px;
margin-bottom: 20px;
}


.footer {
  height: 350px;
  padding: 0;
  margin: 0;
  background: #202020;
  margin-top: 120px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 0;
    margin: 0;
    background: #202020;
    height: 62px;
    width: 100%;
    margin-top: 120px;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    padding: 0;
    margin: 0;
    background: #202020;
    height: 62px;
    width: 100%;
    margin-top: 120px;
  }
}
.private-terms-mobile {
  width: 80%;
  font-size: 14px;
  height: 80px;
  margin-left: 10%;
}
@media only screen and (min-width: 768px) {
  .private-terms-mobile {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .private-terms-mobile {
    display: none;
  }
}
.private-terms-mobile__text {
  position: relative;
  top: 50%;
  font-family: 'PT sans', sans-serif;
  color: #cccccc;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.social-mobile {
  padding-top: 40px;
  height: 80px;
  width: 80%;
  margin-left: 10%;
}
@media only screen and (min-width: 768px) {
  .social-mobile {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .social-mobile {
    display: none;
  }
}
.social-mobile__item {
  fill: #f8faf1;
  float: left;
  height: 50px;
  width: 15%;
}

.location-mobile {
  width: 80%;
  font-size: 14px;
  height: 80px;
  color: gainsboro;
  margin-left: 10%;
}
@media only screen and (min-width: 768px) {
  .location-mobile {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .location-mobile {
    display: none;
  }
}
.location-mobile__text {
  position: relative;
  top: 50%;
  color: white;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.private-terms {
  display: none;
}
@media only screen and (min-width: 768px) {
  .private-terms {
    display: block;
    float: left;
    height: 62px;
    width: 33%;
  }
}
@media only screen and (min-width: 992px) {
  .private-terms {
    display: block;
    float: left;
    height: 62px;
    width: 33%;
  }
}
.private-terms__text {
  font-family: 'PT sans', sans-serif;
  color: #cccccc;
  font-size: 10px;
  height: 62px;
  padding-left: 40px;
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
}
.social {
  display: none;
}
@media only screen and (min-width: 768px) {
  .social {
    display: block;
    float: left;
    width: 33%;
  }
}
@media only screen and (min-width: 992px) {
  .social {
    display: block;
    float: left;
    width: 33%;
  }
}
.social__list {
  margin: 0 auto;
  height: 62px;
  width: 45%;
}
.social__item {
  fill: #f8faf1;
  float: left;
  height: 62px;
  width: 20%;
  line-height: 62px;
}

.location {
  display: none;
}
@media only screen and (min-width: 768px) {
  .location {
    display: block;
    float: right;
    width: 33%;
    height: 62px;
    text-align: right;
  }
}
@media only screen and (min-width: 992px) {
  .location {
    display: block;
    float: right;
    width: 33%;
    height: 62px;
    text-align: right;
  }
}
.location__text {
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  padding-right: 20px;
  float: right;
  font-size: 12px;
  font-family: 'PT sans', sans-serif;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}


#choice {
  display: none;
}
.hidden-menu {
  display: block;
  position: relative;
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  background-color: #202020;
  border: 2px solid #615f5f;
  left: -300px;
  -webkit-transition: left .2s;
  transition: left .2s;
  z-index: 1;
}
.choice-container {
  color: #4f585f;
  background: #4f585f;
  padding: 5px 5px 10px 5px;
  position: absolute;
  top: 137px ;
  left: 30px;
  cursor: pointer;
  -webkit-transition: left.25s;
  transition: left.25s;
  z-index: 2
  
  ;
  width: 40px;
}
.choice-container span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  -webkit-transition: all .1s linear .25s;
  transition: all .1s linear .25s;
  position: relative;
}
#choice:checked ~ .choice-container {
  background: #202020;
  left: 250px;
}
#choice:checked ~ .hidden-menu {
  left: 0;
}
#choice:checked ~ .choice-container .button-choice_1 {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
#choice:checked ~ .choice-container .button-choice_2 {
  opacity: 0;
}
#choice:checked ~ .choice-container .button-choice_3 {
  -webkit-transform: rotate(135deg);
  top: -10px;
}
.hidden-menu__title {
  width: 100%;
  height: 45px;
}
.mobile-navigation{
  display: block;
}
@media only screen and (min-width: 768px) { .mobile-navigation{
  display: none;
}
}
@media only screen and (min-width: 922px) { .mobile-navigation{
  display: none;
}
}
.menu__item{
  padding:5px;
  text-align: center;
  color:rgb(222, 224, 211);

  list-style-type:none;
}
.menu__item a{
  color:rgb(222, 224, 211)
}